$color_1: #dddddd;
$font-family_1: verdana;
$background-color_1: black;
$background-color_2: transparent;
$background-color_3: lightslategray;
$background-color_4:hsla(329, 0%, 99%, 0.05);
$background-color_5: rgb(83, 91, 235);
$background-color_6:rgb(76, 11, 174);
$shadow-color_1: rgb(169,169,169)