BODY {
  background-image: radial-gradient(
      circle at 29% 55%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 4%,
      transparent 4%,
      transparent 44%,
      transparent 44%,
      transparent 100%
    ),
    radial-gradient(
      circle at 85% 89%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 51%,
      transparent 51%,
      transparent 52%,
      transparent 52%,
      transparent 100%
    ),
    radial-gradient(
      circle at 6% 90%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 53%,
      transparent 53%,
      transparent 64%,
      transparent 64%,
      transparent 100%
    ),
    radial-gradient(
      circle at 35% 75%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 6%,
      transparent 6%,
      transparent 98%,
      transparent 98%,
      transparent 100%
    ),
    radial-gradient(
      circle at 56% 75%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 16%,
      transparent 16%,
      transparent 23%,
      transparent 23%,
      transparent 100%
    ),
    radial-gradient(
      circle at 42% 0%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 3%,
      transparent 3%,
      transparent 26%,
      transparent 26%,
      transparent 100%
    ),
    radial-gradient(
      circle at 29% 28%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 51%,
      transparent 51%,
      transparent 75%,
      transparent 75%,
      transparent 100%
    ),
    radial-gradient(
      circle at 77% 21%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 35%,
      transparent 35%,
      transparent 55%,
      transparent 55%,
      transparent 100%
    ),
    radial-gradient(
      circle at 65% 91%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 46%,
      transparent 46%,
      transparent 76%,
      transparent 76%,
      transparent 100%
    ),
    linear-gradient(45deg, rgb(83, 91, 235), rgb(76, 11, 174));
  min-height: 400px;
  color: #dddddd;
  font-family: verdana;
  margin: 0;
}

#gameBoard {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  width: 100vw;
}

#computerlbl {
  position: absolute;
  bottom: -60px;
}

#playerlbl {
  position: absolute;
  top: -60px;
}

#p1-board {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 5px;
}

#p2-board {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin:auto;
  position: absolute;
  bottom: 5px;
}

.card {
  display: block;
  box-sizing: border-box;
  min-width: 150px;
  max-width: 150px;
  height: 209px;
  background-color: black;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px darkgray;
  /* position:absolute; */
}

#remainingCards {
  position: absolute;
  background-color: transparent;
  width: 150px;
  height: 209px;
  left: 46%;
  top: 40%;
}

#discardPile {
  position: absolute;
  right: 200px;
  width: 150px;
  height: 209px;
  background-color: lightslategray;
}

#cardlbl {
  justify-content: center;
  text-align: center;
  
}

/* BUTTON {
    cursor: pointer;
    width:200px;
    height:40px;
    text-align:center;
    margin:20px;
    border-radius: 5px;
    
  } */
